<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>My Wellness Track</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no;user-scalable=0;"/>

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css(.tmp) styles/main.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="components/foundation/css/foundation.css" />
  <link rel="stylesheet" href="components/foundation-icon-fonts/foundation-icons.css" />
  <link rel="stylesheet" href="components/angular-toastr/dist/angular-toastr.css" />
  <link rel="stylesheet" href="components/angularjs-datepicker/dist/angular-datepicker.min.css" />
  <!-- endbower -->
  <link rel="stylesheet" href="customComponents/ngprogress/ngProgress.css" />
  <link rel="stylesheet" href="customComponents/offCanvas/off-canvas.css" />
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="myWellnessTrackerApp" >
<!-- Add your site or application content here -->

<nav class="header small-12 columns" data-magellan-expedition="fixed" ng-controller="HeaderCtrl">

  <div class="left">

        <a ng-show="showHome" href="#/">
          <span class="fi-home"></span>
          <span class="icon-text">Home</span>
        </a>

        <a ng-show="showHome" ng-click="back()">
          <span class="fi-arrow-left"></span>
          <span class="icon-text">Back</span>
        </a>
  </div>

  <div class="right">
    <a>
    <img class="" src="images/logos/Wellness%20Icon.png"/>
    </a>
  </div>
</nav>

<div class="container" ng-view="">
</div>

<!-- build:js(**/*) scripts/vendor.js -->
<!-- bower:js -->
<script src="components/modernizr/modernizr.js"></script>
<script src="components/jquery/dist/jquery.js"></script>
<script src="components/angular/angular.js"></script>
<script src="components/angular-animate/angular-animate.js"></script>
<script src="components/angular-cookies/angular-cookies.js"></script>
<script src="components/angular-resource/angular-resource.js"></script>
<script src="components/angular-route/angular-route.js"></script>
<script src="components/angular-sanitize/angular-sanitize.js"></script>
<script src="components/angular-touch/angular-touch.js"></script>
<script src="components/fastclick/lib/fastclick.js"></script>
<script src="components/jquery.cookie/jquery.cookie.js"></script>
<script src="components/jquery-placeholder/jquery.placeholder.js"></script>
<script src="components/foundation/js/foundation.js"></script>
<script src="components/foundation/js/foundation/foundation.tooltip.js"></script>
<script src="components/foundation/js/foundation/foundation.reveal.js"></script>
<script src="components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="components/angular-toastr/dist/angular-toastr.js"></script>
<script src="components/angular-filter/dist/angular-filter.js"></script>
<script src="components/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
<script src="components/Chart.js/Chart.min.js"></script>
<script src="components/tc-angular-chartjs/dist/tc-angular-chartjs.min.js"></script>
<!-- endbower -->
<script src="customComponents/ngprogress/ngProgress.js"></script>
<script src="customComponents/offCanvas/off-canvas.js"></script>
<script src="scripts/dateExtension.js"></script>
<script src="phonegap.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/directives/innerpageheader.js"></script>
<script src="scripts/controllers/sideeffects.js"></script>
<script src="scripts/services/fileloader.js"></script>
<script src="scripts/services/sideeffectservice.js"></script>
<script src="scripts/services/offcanvas.js"></script>
<script src="scripts/services/diaryservice.js"></script>
<script src="scripts/services/datehelperservice.js"></script>
<script src="scripts/controllers/viewsideeffects.js"></script>
<script src="scripts/controllers/eventrecorder.js"></script>
<script src="scripts/controllers/eventadd.js"></script>
<script src="scripts/services/eventservice.js"></script>

<script src="scripts/controllers/addsideeffect.js"></script>
<script src="scripts/directives/formbuttons.js"></script>
<script src="scripts/controllers/viewevents.js"></script>

<script src="scripts/services/pageservice.js"></script>
<script src="scripts/controllers/ataglancessideeffects.js"></script>
<script src="scripts/services/graphservice.js"></script>
<script src="scripts/controllers/sideeffectstatistics.js"></script>
<script src="scripts/controllers/header.js"></script>
<script src="scripts/controllers/disclaimer.js"></script>
<script src="scripts/controllers/termsandconditions.js"></script>
<script src="scripts/controllers/settings.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/services/checkrouting.js"></script>
<script src="scripts/services/permissionsservice.js"></script>
<script src="scripts/controllers/viewallmydata.js"></script>
<script src="scripts/controllers/editevent.js"></script>
<script src="scripts/services/randomsequence.js"></script>
<script src="scripts/controllers/deleteevent.js"></script>
<!-- endbuild -->
</body>
</html>
