<div class="innerPageHeader">
<div class="pageHeader">
  <span class="icon-info" ng-hide="hideInfoPopup">
    <a class="fi-info"  data-reveal-id="helpModal"></a>
  </span>

  <span class="header-text">{{title}}</span>

  <span class="icon-list"  ng-show="showNavToggler" ng-click="toggle()">
    <i class="fi-list"></i>
  </span>

  <span class="icon-cross"  ng-show="showNavToggler" ng-click="toggle()">
    <i class="fi-x"></i>
  </span>
</div>

<div id="helpModal" class="reveal-modal small-10 columns" data-reveal>
  <h2>{{informationPopup.popupTitle}}</h2>
  <p>{{informationPopup.popupText}}</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
</div>
