/*
    ---------------
    MULTI PAGE
    ---------------
*/

body{
  background-color: #928E88;
  color: #5F5A50;
}

.header{
  height: 20%;
  width: 100%;
  background-color: #ECC200;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.5);

}

.header div {
  height: 100%;
  vertical-align: middle;
  display: table;
  text-align: center;
}

.header div a{
  text-align: center;
  vertical-align: middle;
  margin: 0;
  display: table-cell;
  font-size: 48px;
  padding-left: 10px;
  padding-right: 10px;
}

.header div a{
  color: #5F5A50;
}

.header .icon-text{
  font-size:12px;
  display: block;
}
.header img{
  height: 72px;
}

.container {
  padding: 10px;
  /*padding-top: 180px;*/
  width: 100%;
  overflow: scroll;
  height: 80%;

}

* {
/*//  outline: 1px solid red;*/
}


.container .content{
  margin-top:20px;
  padding: 10px;
  background-color: #BEBBB8;
  border-radius: 5px;
  overflow: hidden;
  min-height: 70%;
}

.container .content.nobg{
  background-color: #928E88;
}

.pageHeader{
  height: 30%;
  background-color: #5F5A50;
  padding: 15px;
  border-radius: 5px;
}

.pageHeader .header-text{
  color: #FFFFFF;
  font-size: 20px;
}
.pageHeader .icon-info, .pageHeader .icon-list ,a.fi-info, .innerPageHeader .icon-cross{
  font-size: 28px;
  color: #FFFFFF;
}

.is-off-canvas-opened .innerPageHeader .icon-list,.innerPageHeader .icon-cross{
  display: none;
}

.is-off-canvas-opened .innerPageHeader .icon-cross{
  display: inline;
}


.pageHeader .icon-list, .innerPageHeader .icon-cross{
  float:right;
}

hr{
  border-color: #5F5A50;
}

.propertyName{
  font-weight: bold;
  text-transform: uppercase;
}

.propertyValue {
  text-transform: lowercase;
}

.button-group .onlyButtonInGroup , .button-group .onlyButtonInGroup span{
  width:100%;
}

/*
    ---------------
    FORM ELEMENTS
    ---------------
*/

span.button.ok{
  background-color: #4C7400;
}

span.button.cancel{
  background-color: #9D0000;
}


._720kb-datepicker-calendar._720kb-datepicker-open{
  display: block;
}

._720kb-datepicker-calendar{
  margin-bottom: 10px;
}

._720kb-datepicker-calendar{
  position: relative;
  visibility: visible;
  display: none;
}

._720kb-datepicker-calendar-header{
  text-align: center;
  /*width: 50%;*/
}
._720kb-datepicker-calendar-header-middle._720kb-datepicker-mobile-item {

  float:none;
  height: 34px;
  background-color: pink;
  margin: 0 auto;
  border: none;
  float:left;
  width: 100%;
  border-radius: 0px;
}

._720kb-datepicker-calendar-header-middle._720kb-datepicker-mobile-item  select{
  height: 34px;
}


.datepicker select, .datepicker select:focus, .datepicker select:hover [datepicker] select, [datepicker] select:focus, [datepicker] select:hover, datepicker select, datepicker select:focus, datepicker select:hover{
  background-color: #ECC200;
  color: #5F5A50;
  font-size: 14px;
}
/*
    ---------------
    REVEAL MODAL POPUP
    ---------------
*/


@media only screen and (max-width: 40em) {
  dialog, .reveal-modal {
    width: 83.33333%;
    height: 50%;
    margin-top: 25vh;

    min-height: 50%;
    max-height: 50%;
    overflow: scroll;
    left: 8.33333%;
    right: auto;
  }
}

@media only screen and (min-width: 40.063em) {
  dialog, .reveal-modal {
    width: 83.33333%;
    height: 50%;
    /*margin-top: 25vh;*/
    margin-bottom: 25vh;
    margin-left: 0;
    margin-right: 0;
    min-height: 50%;
    max-height: 50%;
    left: 8.33333%;
    right: auto;
  }
}


/*@media only screen and (max-width: 40em) {*/
  /*dialog, .reveal-modal {*/
    /*width:80%;*/
    /*margin: 15% 0 0 10%;*/
    /*margin-left: 10%;*/
    /*margin-top:35%;*/
    /*height:50%;*/
    /*min-height: inherit;*/
    /*position : fixed;*/
  /*} }*/

/*@media only screen and (min-width:40.063em) {*/
  /*dialog, .reveal-modal {*/
    /*width:80%;*/
    /*margin: 35% 0 0 10%;*/
    /*margin-left: 10%;*/
    /*margin-top:35%;*/
    /*height:50%;*/
    /*min-height: inherit;*/
    /*position : fixed;*/
    /*top: 0%;*/
    /*left: 0%;*/
  /*}*/
/*}*/




/*
    ---------------
    HOME PAGE
    ---------------
*/


.container .content .panel.homeLinkInnerBlock{
  background: #ECC100;
  border:none;

}

body{
  -webkit-tap-highlight-color: #b3d4fc;
}
.container .content .panel.homeLinkInnerBlock:active, .container .content .sideEffectBox .panel:active,
.container .off-canvas__nav .panel:active{
  background: #b3d4fc;
}

.container .content .panel.homeLinkInnerBlock .linkIcon{
  font-size: 60px;
  color: #605748;
  display: block;
  text-align: center;
  padding-bottom: 24px;
}

.container .content .panel.homeLinkInnerBlock .linkText{
  font-size: 20px ;
  color: #605748;
  display: block;
  text-align: center;
}



/*
    ---------------
    SIDE AFFECT BOX
    ---------------
*/
.container .content .panel{
  background-color: #DFDDDC;
  border-radius: 5px;
  position: relative;
  z-index: 0;
}

.container .content .sideEffectBox img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
 .sideEffectBox .sideEffectName{
   text-transform: uppercase;
   color: #645F56;
   font-weight: bold;
 }


.overlay{
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  background-color:#FFF;
  opacity: 0.96;
  padding: 1.25rem;
  border-radius: 15px;
}

.sideaffect-slider-tracker{
  width: 40px;
  height: 40px;
  background-color: #5F5A50;
  border-radius: 40px;
  border:5px #FFF solid;
}


button, button.button{
  background-color: #ECC200;
  color: #5F5A50;
  font-weight: bold;
}

button:hover, button.button:hover{
  background-color: #ECC200;
  color: #5F5A50;
  font-weight: bold;
}

.has-tip{
  color:white;
}



.panel , .content, .container{
/*min-height: 100%;*/
}


.panel fieldset legend{
  background: none;
}

/*
    ---------------
    OFFCANVAS CUSTOM STYLES
    ---------------
*/

.off-canvas__nav{
  text-align: left;
  padding: 16px;
  position: fixed;
  width: 270px;
  /* overflow: scroll; */
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  -webkit-transform: translate3d(270px,0,0);
  -moz-transform: translate3d(270px,0,0);
  -ms-transform: translate3d(270px,0,0);
  -o-transform: translate3d(270px,0,0);
  transform: translate3d(270px,0,0);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.23,1,0.32,1);
  -moz-transition: -moz-transform 500ms cubic-bezier(0.23,1,0.32,1);
  -o-transition: -ms-transform 500ms cubic-bezier(0.23,1,0.32,1);
  transition: transform 500ms cubic-bezier(0.23,1,0.32,1);

}

.off-canvas__nav h3{
  color: #FFFFFF;
}

.off-canvas__nav .panel{
text-align: center;
  background-color: #989A97;
  border:none;
  border-radius: 5px;
}

.off-canvas__nav .panel .linkIcon{
font-size: 48px;
  display: block;
}

.off-canvas__nav .panel .linkText{
  font-size: 20px;
  padding-bottom: 14px;
  text-transform: uppercase;

}



.tc-chart-js-legend {
  text-align: center;
  list-style-type: none;
  padding-left: 0px;
}

.tc-chart-js-legend li {
  text-align: center;
  display: inline;
  float: left;
  /*clear: both;*/
  padding: 10px;
}

.tc-chart-js-legend li span {
  width: 25px;
  height: 25px;
  display: inline;
  float: left;
  margin-right: 10px;
}

canvas.ng-isolate-scope{
  padding: 5px;
  max-width: 95%;
}

ul.pie-legend, ul.doughnut-legend{
  list-style:none;

}

ul.pie-legend li ,ul.doughnut-legend li{
  padding: 5px;
  display: block;
  float: left;

}
.pie-legend li span ,  .doughnut-legend li span{
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 5px;
}

.sideEffectPChartTimespan div{
  display:inline-block;
}


.datepicker select, .datepicker select:focus, .datepicker select:hover [datepicker] select, [datepicker] select:focus, [datepicker] select:hover, datepicker select, datepicker select:focus, datepicker select:hover{
  font-size: 16px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
  font-size: 16px;
  font-family: "Bookman", Georgia, "Times New Roman", serif;
}





pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }


.content .aboutPage img{
  height: 200px;
  width: auto;
  padding: 10px;

}

.content .sideEffectStatistics{
  line-height: 30px;
}

.content .sideEffectStatistics .statRecordedList  li{

}
