<inner-page-header></inner-page-header>

<div class="content">

  <div class="panel">
    <h4>Record {{sideEffectName}}</h4>

    <form>
      <datepicker date-format="{{datePattern}}" date-set="{{defalutDate}}" date-min-limit="{{dateMin}}" date-max-limit="{{dateMax}}">
        <input ng-model="toAdd.date" readonly="true" type="text" placeholder="Choose a date" tabindex="1"/>
      </datepicker>

      <input ng-model="toAdd.times" type="number" placeholder="How many times?" tabindex="2"/>

      <form-Buttons></form-Buttons>

    </form>
  </div>
</div>
