<inner-page-header></inner-page-header>

<div class="content">
  <div class="panel columns small-12">
    <h4>All Side Effects</h4>




    <div class="small-12 columns sideEffectPChartTimespan">
       <select ng-model="selectedPieChartPeriod" ng-change="changePieChartPeriod()" ng-options="p.label for p in pieChartPeriods"></select>
       </div>

    <div ng-if="sideEffectsPieChartLastNDaysDataToggler && selectedPieChartPeriod.days != undefined">
      <button class="button" ng-click="sideEffectsPieChartLastNDaysToggle()">Switch to Doughnut Chart</button>
      <canvas tc-chartjs-pie chart-data="sideEffectsTotalData" chart-options="myOptions" auto-legend></canvas>
      </div>

    <div ng-if="!sideEffectsPieChartLastNDaysDataToggler && selectedPieChartPeriod.days != undefined">
      <button class="button" ng-click="sideEffectsPieChartLastNDaysToggle()">Switch to Pie Chart</button>
      <canvas tc-chartjs-doughnut chart-data="sideEffectsTotalData" chart-options="myOptions" auto-legend></canvas>
      </div>


  </div>


  <div class="panel columns small-12">
    <h4>Side Effect Within The Last 7 Days</h4>

    <h5 ng-if="sideEffectsOverTime.labels.length <= 1">Not enough data recorded.</h5>

    <div ng-if="sideEffectsGraphLastNDaysDataToggler && sideEffectsOverTime.labels.length > 1">
      <button ng-click="sideEffectsGraphLastNDaysDataToggle()">Switch to Bar Graph</button>
      <canvas tc-chartjs-line  chart-options="myOptions"  chart-data="sideEffectsOverTime"></canvas>
    </div>


    <div ng-if="!sideEffectsGraphLastNDaysDataToggler && sideEffectsOverTime.labels.length > 1">
    <button ng-click="sideEffectsGraphLastNDaysDataToggle()">Switch to Line Graph</button>
    <canvas tc-chartjs-bar  chart-options="myOptions"  chart-data="sideEffectsOverTime"></canvas>
    </div>


  </div>
</div>
