<inner-page-header></inner-page-header>

<div class="content">
  <div class="panel columns small-12">

    <div class="row">
      <div class="small-12 medium-8 columns">
        <p>
          <span class="propertyName">Appointment Type </span> •
          <span class="propertyValue">{{event.name}}</span>
        </p>

        <p>
          <span class="propertyName">With </span> •
          <span class="propertyValue">{{event.who}} </span>
        </p>

        <p><span class="propertyName">Location </span> •
          <span class="propertyValue">{{event.where}} </span></p>

        <p>
          <span class="propertyName">Reason for appointment/visit  </span>
          • <span class="propertyValue">{{event.purpose}} </span>
        </p>

        <p>
          <span class="propertyName">Outcome </span>
          • <span class="propertyValue">{{event.outcome}} </span>
        </p>
      </div>
      <hr/>

      <h4>Are you sure you want to delete this Appointment/Visit?</h4>


      <form-Buttons></form-Buttons>

    </div>

  </div>
</div>
