<inner-page-header></inner-page-header>


<div class="content">
  <div class="panel columns small-12 text-center">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget ex at eros iaculis vestibulum. In varius sagittis aliquam. Proin blandit sollicitudin convallis. Aliquam finibus placerat urna, nec pellentesque nisl luctus ut. Nulla nec placerat augue. Mauris eu enim a sapien tempus egestas nec at est. Donec turpis purus, aliquam at varius sed, porta a turpis. Mauris aliquet pretium quam eu lacinia. Praesent sed venenatis leo. Etiam nulla neque, placerat non tellus vel, tristique aliquet quam.
    </p>
    <button ng-click="accept()">Agree</button>


  </div>
</div>
