<inner-page-header></inner-page-header>

<div class="content">

  <div class="panel">
    <h4>Edit {{event.name}}</h4>

    <form>

      <datepicker date-format="dd/MM/yyyy" date-max-limit="2018/07/14">
        <input ng-model="event.date" readonly="true" type="text" placeholder="Choose a date" tabindex="1"/>
      </datepicker>


      <input type="text" placeholder="Who" ng-model="event.who" tabindex="2">

      <input type="text" placeholder="Where" ng-model="event.where" tabindex="3">

            <textarea type="text" placeholder="Purpose" rows="5" ng-model="event.purpose" tabindex="4">
              </textarea>



            <textarea type="text" placeholder="Outcome" rows="5" ng-model="event.outcome" tabindex="5">
              </textarea>


      <form-Buttons></form-Buttons>


    </form>
  </div>
</div>
