<inner-page-header></inner-page-header>


<div class="content">
  <h4>Options</h4>

  <div class="sideEffectBox text-center medium-6 columns" ng-click="go('termsAndConditions')">
    <div class="panel">
      <div>
        <span class="sideEffectName">View Terms and Conditions</span>
      </div>
    </div>
  </div>

  <div class="sideEffectBox text-center medium-6 columns" ng-click="go('Disclaimer')">
    <div class="panel">
      <div>
        <span class="sideEffectName">View Disclaimer</span>
      </div>
    </div>
  </div>

  <div class="sideEffectBox text-center medium-6 columns" ng-click="go('viewAllMyData')">
    <div class="panel">
      <div>
        <span class="sideEffectName">View Your Data</span>
      </div>
    </div>
  </div>

  <div class="sideEffectBox text-center medium-6 columns" ng-click="clearData()">
    <div class="panel">
      <div>
        <span class="sideEffectName">Clear All Data</span>
      </div>
    </div>
  </div>
</div>
