<inner-page-header></inner-page-header>

<div class="content">
    <h5 ng-if="recordedSideEffects.length == 0">Not enough data recorded.</h5>
    <div class="panel sideEffectStatistics" ng-if="recordedSideEffects.length > 1">
      <div class="stat"><span class="statType">First Recorded</span> • <span>{{lastRecordedSideEffect.name}} on {{firstRecordedSideEffect.date}}</span></div>
      <div class="stat"><span class="statType">Last Recorded</span> • <span>{{firstRecordedSideEffect.name}} on {{lastRecordedSideEffect.date}}</span></div>

      <div class="stat"><span class="statType">Recorded Side Effects</span> •
        <ul class="statRecordedList">
          <li  ng-repeat="sideEffect in recordedSideEffects">{{sideEffect.name}} ({{sideEffect.total}} times) </li>
        </ul>
      </div>

    </div>
</div>

