<inner-page-header></inner-page-header>

<div class="content">
  <h5 ng-if="recordedSideEffects.length ==0">No side effects recorded</h5>
  <div class="panel columns small-12" ng-repeat="(key, value) in recordedSideEffects | groupBy: 'unixTime' | reverse">
    <h5>{{value[0].FullTextDate}}</h5>
    <ul>
      <li ng-repeat="se in value">
        {{se.name}} ({{se.times}} times)
      </li>
    </ul>
  </div>
</div>
