<inner-page-header></inner-page-header>


<div class="content">
  <h4>Options</h4>


    <div class="panel" ng-repeat="data in allData">

      <h5>{{data.Title}}<h5/>

      <pre ng-bind-html="data.Data">>

      </pre>
    </div>

</div>
