i{
  color: #ffff00;
}

.main-app-bar{
  height:75px;
  color:#FFF;
  text-align: center;
}

.main-app-bar .logo {
  display: inline-block;
  vertical-align: middle;
  height: 75px;
}
i.size-12 { font-size: 12px; }

i.size-14 { font-size: 14px; }

i.size-16 { font-size: 16px; }

i.size-18 { font-size: 18px; }

i.size-21 { font-size: 21px; }

i.size-24 { font-size: 24px; }

i.size-36 { font-size: 36px; }

i.size-48 { font-size: 48px; }

i.size-60 { font-size: 60px; }

i.size-72 { font-size: 72px; }

.icon-bar > * img {
  width: 4rem;
  height: 4rem;
}

.icon-bar .item{
  border: 1px white solid;
}

.item.over{
  background:green;
}


[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.item{
  text-align: center;
  cursor: move;
}
.item span {
  padding: 5px;
  color: yellow;
}