<div class="row content">
    <div class="large-12 columns">
        <div class="panel">
            <h5>Overview</h5>

            <div class="compact icon-bar three-up">
                <a class="item" draggable="true">
                    <span href="diary.html">Add</span>
                </a>
                <a class="item" draggable="true">
                    <span href="diary.html">???</span>
                </a>
                <a class="item" draggable="true">
                    <span href="diary.html">Filter</span>
                </a>
            </div>
        </div>
    </div>

    <div class="small-12 columns">
        <div class="panel">
            <h5>Appointments</h5>

            <div class="row">
                <div class="small-12">
                    <div class="small-12">
                        Appointment Name, Date and Time
                    </div>
                    <div class="small-4 columns">
                        <div class="compact icon-bar two-up">
                            <a class="item" draggable="true">
                                <span href="diary.html">View</span>
                            </a>
                            <a class="item" draggable="true">
                                <span href="diary.html">Edit</span>
                            </a>
                            <a class="item" draggable="true">
                                <span href="diary.html">Clone</span>
                            </a>
                            <a class="item" draggable="true">
                                <span href="diary.html">Delete</span>
                            </a>
                        </div>
                    </div>
                    <div class="small-8 columns">
                        <p> Tiny
                            loving fabulous impressed tabby my fuzzy cat sleeping in the sink rescuing cat rip basket
                            claw, siamese cat loves front chase the red dot sleep on your keyboard hai boy fluffy fur
                            cat. Wish tail helped purr kitty, special age sleepy dog kitties cat kitten keyboard snuggle
                            odd cat front.</p>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="small-12">
                    <div class="small-12">
                        Appointment Name, Date and Time
                    </div>
                    <div class="small-4 columns">
                        <div class="compact icon-bar two-up">
                            <a class="item" draggable="true">
                                <span href="diary.html">View</span>
                            </a>
                            <a class="item" draggable="true">
                                <span href="diary.html">Edit</span>
                            </a>
                            <a class="item" draggable="true">
                                <span href="diary.html">Clone</span>
                            </a>
                            <a class="item" draggable="true">
                                <span href="diary.html">Delete</span>
                            </a>
                        </div>
                    </div>
                    <div class="small-8 columns">
                        <p> Tiny
                            loving fabulous impressed tabby my fuzzy cat sleeping in the sink rescuing cat rip basket
                            claw, siamese cat loves front chase the red dot sleep on your keyboard hai boy fluffy fur
                            cat. Wish tail helped purr kitty, special age sleepy dog kitties cat kitten keyboard snuggle
                            odd cat front.</p>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="small-12">
                    <div class="small-12">
                        Appointment Name, Date and Time
                    </div>
                    <div class="small-4 columns">
                        <div class="compact icon-bar two-up">
                            <a class="item" draggable="true">
                                <span href="diary.html">View</span>
                            </a>
                            <a class="item" draggable="true">
                                <span href="diary.html">Edit</span>
                            </a>
                            <a class="item" draggable="true">
                                <span href="diary.html">Clone</span>
                            </a>
                            <a class="item" draggable="true">
                                <span href="diary.html">Delete</span>
                            </a>
                        </div>
                    </div>
                    <div class="small-8 columns">
                        <p> Tiny
                            loving fabulous impressed tabby my fuzzy cat sleeping in the sink rescuing cat rip basket
                            claw, siamese cat loves front chase the red dot sleep on your keyboard hai boy fluffy fur
                            cat. Wish tail helped purr kitty, special age sleepy dog kitties cat kitten keyboard snuggle
                            odd cat front.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>