<div class="row content">
    <div class="small-12">
        <div class="icon-bars">
            <a class="item small-12 medium-6 large-4 columns" draggable="true">
                <img src="img/icons/placeholder.png" >
                <label href="diary.html">Diary</label>
            </a>
            <a class="item small-12 medium-6 large-4 columns" draggable="true" href="#/Toxicity">
                <img src="img/icons/placeholder.png" >
                <label>Toxicity's</label>
            </a>
            <a class="item small-12 medium-6 large-4 columns" draggable="true" href="#/Appointments">
                <img src="img/icons/placeholder.png" >
                <label>Appointments</label>
            </a>
            <a class="item small-12 medium-6 large-4 columns" draggable="true">
                <img src="img/icons/placeholder.png" >
                <label>Mail</label>
            </a>
            <a class="item small-12 medium-6 large-4 columns" draggable="true">
                <img src="img/icons/placeholder.png" >
                <label>Settings</label>
            </a>
            <a class="item small-12 medium-6 large-4 columns end" draggable="true">
                <img src="img/icons/placeholder.png" >
                <label>Logout</label>
            </a>
        </div>
    </div>
</div>

<button ng-click="pop()">Test</button>