<div class="row content">
    <div class="large-12 columns">
        <div class="panel">
            <h5>Overview</h5>
            <div class="icon-bar three-up">
                <a class="item" draggable="true">
                    <img src="img/icons/placeholder.png" >
                    <span href="diary.html">Statistics</span>
                </a>
                <a class="item" draggable="true">
                    <img src="img/icons/placeholder.png" >
                    <span href="diary.html">History</span>
                </a>
                <a class="item" draggable="true">
                    <img src="img/icons/placeholder.png" >
                    <span href="diary.html">Gradings</span>
                </a>
            </div>
        </div>
    </div>

    <div class="large-12 columns">
        <div class="panel">
        <h5>Common</h5>

            <div class="row" style="margin-top:50px;">
                <div class="small-12 medium-12 columns">
                    <div class="range-slider" data-slider="12" data-options="display_selector: #sliderOutput4; step: 1; start:0; end:24;">

                        <span class="range-slider-handle" role="slider" tabindex="0" aria-valuemin="0" aria-valuemax="24" aria-valuenow="12" style="-webkit-transform: translateX(153.4px); transform: translateX(153.4px);">
                                  <span id="sliderOutput4" class="toxicitySlider">12</span>
                        </span>
                        <span class="range-slider-active-segment" style="width: 50%;"></span>
                    </div>
                </div>

                <div class="text-center">
                    Approx: 11:00 am
                </div>

            </div>

            <div class="icon-bars">
                <a class="item small-12 medium-6 large-4 columns" draggable="true" ng-click="addSickness(24)">
                    <img src="img/icons/placeholder.png" >
                    <label href="diary.html">Sickness</label>
                </a>
                <a class="item small-12 medium-6 large-4 columns" draggable="true" ng-click="addSickness(3)">
                    <img src="img/icons/placeholder.png" >
                    <label href="diary.html">Dirrhea</label>
                </a>
                <a class="item small-12 medium-6 large-4 columns end" draggable="true" ng-click="addSickness(1)">
                    <img src="img/icons/placeholder.png" >
                    <label href="diary.html">Hearing Loss</label>
                </a>
            </div>

        </div>
    </div>


</div>