/* Styling for the ngProgress itself */


#ngProgress img{
  width: 128px;
  display: block;
  margin: 0 auto;
}

#ngProgress span{
  width: auto;
  display: block;
}




/* Styling for the ngProgress-container */
#ngProgress-container {
  display: none;
  position: absolute;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  width: 100%;
  top:0;
  left: 0;
  background-color: #000000;
   /*Add CSS3 styles for transition smoothing*/
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.ngProgressInner {
  margin-left: auto;
  margin-right: auto;
  width: 272px /*whatever width you want*/;
}

#ngProgress {
  display: table-cell;
  vertical-align: middle;

}
