<div class="off-canvas__nav"  ng-blur="toggle()">
  <h3>Options</h3>

  <div class="panel" ng-click="offcanvas.go('viewSideEffects')">
    <span class="linkIcon"><i class="fi-list-number"></i></span>
    <span class="linkText">Overview</span>
  </div>

  <div class="panel" ng-click="offcanvas.go('sideEffectStatistics')">
    <span class="linkIcon"><i class="fi-list-number"></i></span>
    <span class="linkText">Statistics</span>
  </div>

  <div class="panel" ng-click="offcanvas.go('ataglancesideeffects')">
    <span class="linkIcon"><i class="fi-graph-pie"></i></span>
    <span class="linkText">At A Glance</span>
  </div>
</div>
