/* angular-off-canvas v0.1.0
 * (c) 2013 Ciro Nunes http://cironunes.github.io/
 * License: MIT
 */
/* prevent horizontal scroll */
html, body {
  overflow-x: hidden; }

.off-canvas__nav {
  width: 270px;
  display: none;
  position: absolute;
  background-color: #5F5A50;
  top:150px;
  right: 0;
  height: 100%;
  z-index: 100;

  -webkit-transform: translate3d(0, 0, 0) translateX(-250px);
  -ms-transform: translate3d(0, 0, 0) translateX(-250px);
  -moz-transform: translate3d(0, 0, 0) translateX(-250px);
  -o-transform: translate3d(0, 0, 0) translateX(-250px);
  transform: translate3d(0, 0, 0) translateX(-250px);
  -webkit-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
  -ms-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
  -moz-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
  -o-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
  transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98); }

.is-off-canvas-opened  .innerPageHeader, .is-off-canvas-opened .content{
  -webkit-transform: translate3d(-270px,0,0) scale3d(1,1,1);
  -moz-transform: translate3d(-270px,0,0) scale3d(1,1,1);
  -ms-transform: translate3d(-270px,0,0) scale3d(1,1,1);
  -o-transform: translate3d(-270px,0,0) scale3d(1,1,1);
  transform: translate3d(-270px,0,0) scale3d(1,1,1);
}
.off-canvas__content {
  -webkit-transform: translate3d(0, 0, 0) translateX(0);
  -ms-transform: translate3d(0, 0, 0) translateX(0);
  -moz-transform: translate3d(0, 0, 0) translateX(0);
  -o-transform: translate3d(0, 0, 0) translateX(0);
  transform: translate3d(0, 0, 0) translateX(0);
  -webkit-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
  -ms-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
  -moz-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
  -o-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
  transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98); }

.is-off-canvas-opened .off-canvas__nav {
  -webkit-transform: translate3d(0, 0, 0) translateX(0);
  display: block;
  -ms-transform: translate3d(0, 0, 0) translateX(0);
  -moz-transform: translate3d(0, 0, 0) translateX(0);
  -o-transform: translate3d(0, 0, 0) translateX(0);
  transform: translate3d(0, 0, 0) translateX(0); }

.is-off-canvas-opened .off-canvas__content {
  -webkit-transform: translate3d(0, 0, 0) translate(250px);
  -ms-transform: translate3d(0, 0, 0) translate(250px);
  -moz-transform: translate3d(0, 0, 0) translate(250px);
  -o-transform: translate3d(0, 0, 0) translate(250px);
  transform: translate3d(0, 0, 0) translate(250px); }
