<inner-page-header></inner-page-header>

<div class="content">

  <div class="panel aboutPage">

    <p>
      My Wellness Tracker was inspired by an idea had by Fiona MacLean, about changing symptom management and recording,
      to benefit patients
    </p>

    <p>This App was designed and developed by Liam McCann from within the University of Strathclyde Computer Information
      Science Department</p>

    <p>The primary aims of this App are to assist patients undergoing chemotherapy to record symptoms and better manage
      their medical needs and appointments</p>

    <img src="images/logos/uos.png">
    <!--<img src="images/logos/nhsggc.jpg">-->
  </div>
</div>
