<inner-page-header></inner-page-header>

<div class="content">

  <div ng-repeat="event in events" class="sideEffectBox text-center medium-6 columns"
       ng-click="go('EventAdd/{{event.id}}')">
    <div class="panel">
      <div>
        <span class="sideEffectName">{{event.name}}</span>
      </div>
    </div>


  </div>

</div>

