<div class="content nobg">


  <div  class="sideEffectBox text-center medium-6 columns"
        ng-click="go('/sideeffects')">

    <div class="panel homeLinkInnerBlock">

      <span class="linkIcon"><i class="fi-first-aid"></i></span>
      <span class="linkText">Record Side Effects</span>

    </div>
  </div>





  <div  class="sideEffectBox text-center medium-6 columns"
        ng-click="go('/viewSideEffects')">
    <div class="panel homeLinkInnerBlock">
      <span class="linkIcon"><i class="fi-calendar"></i></span>
      <span class="linkText">View Side Effects</span>
    </div>
  </div>

  <div  class="sideEffectBox text-center medium-6 columns"
        ng-click="go('/EventRecorder')">
    <div class="panel homeLinkInnerBlock">
      <span class="linkIcon"><i class="fi-clipboard-pencil"></i></span>
      <span class="linkText">Record Appointments</span>
    </div>
  </div>


  <div  class="sideEffectBox text-center medium-6 columns"
        ng-click="go('/viewevents')">
    <div class="panel homeLinkInnerBlock">
      <span class="linkIcon"><i class="fi-magnifying-glass"></i></span>
      <span class="linkText">View Appointments</span>
    </div>
  </div>

  <div  class="sideEffectBox text-center medium-6 columns"
        ng-click="go('/settings')">
    <div class="panel homeLinkInnerBlock">
      <span class="linkIcon"><i class="fi-widget"></i></span>
      <span class="linkText">Settings</span>
    </div>
  </div>

  <div  class="sideEffectBox text-center medium-6 columns"
        ng-click="go('/about')">
    <div class="panel homeLinkInnerBlock">
      <span class="linkIcon"><i class="fi-info"></i></span>
      <span class="linkText">About</span>
    </div>
  </div>






</div>
