<inner-page-header></inner-page-header>

<div class="content">
  <div ng-repeat="mod in SideEffects" class="sideEffectBox text-center medium-6 columns" ng-click="go('AddSideEffect/{{mod.id}}')" >
    <div class="panel">
      <div>
        <span class="sideEffectName">{{mod.name}}</span>
      </div>
    </div>
  </div>

</div>

