<inner-page-header></inner-page-header>

<div class="content">

  <div class="panel columns small-12">
    <h5>Period</h5>
      <select ng-model="selectedEventPeriod" ng-change="changeEventPeriod()" ng-options="p.label for p in eventPeriods">
      </select>
  </div>

  <div class="panel columns small-12" ng-repeat="(key, value) in eventsViewData | groupBy: 'unixTime'">
    <h5>{{value[0].FullTextDate}}</h5>
    <hr/>
    <div class="row" ng-repeat="se in value">
      <div class="small-12 medium-8 columns">
        <p>
          <span class="propertyName">Appointment Type </span> •
          <span class="propertyValue">{{se.name}}</span>
        </p>

        <p>
          <span class="propertyName">With </span> •
          <span class="propertyValue">{{se.who}} </span>
        </p>

        <p><span class="propertyName">Location </span> •
          <span class="propertyValue">{{se.where}} </span></p>

        <p>
          <span class="propertyName">Reason for appointment/visit  </span>
          • <span class="propertyValue">{{se.purpose}} </span>
        </p>

        <p>
          <span class="propertyName">Outcome </span>
          • <span class="propertyValue">{{se.outcome}} </span>
        </p>
      </div>

      <div class="small-12 medium-4 columns">
        <button ng-click="go('editEvent/{{se.id}}')">Edit</button>
        <button ng-click="go('deleteEvent/{{se.id}}')">Delete</button>
      </div>

      <hr/>
    </div>

  </div>
</div>
