i{
  color: #ffff00;
}

.row.content{
  padding:1%;
}

body{
  background-color: #b9b9b9;
}
.main-app-bar{
  height:50px;
  color:#FFF;
  text-align: center;
}

.main-app-bar .logo {
  display: inline-block;
  vertical-align: middle;
}
i.size-12 { font-size: 12px; }

i.size-14 { font-size: 14px; }

i.size-16 { font-size: 16px; }

i.size-18 { font-size: 18px; }

i.size-21 { font-size: 21px; }

i.size-24 { font-size: 24px; }

i.size-36 { font-size: 36px; }

i.size-48 { font-size: 48px; }

i.size-60 { font-size: 60px; }

i.size-72 { font-size: 72px; }





[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.icon-bars > * img {
  width: 4rem;
  height: 4rem;
}


.compact.icon-bar > *{
  padding: 0.5rem;
}
.icon-bars .item{
  border: 1px #b9b9b9 solid;
}

.item.over{
  background:green;
}

.item{
  text-align: center;
  cursor: move;
}
.item label {
  padding: 5px;
  color: yellow;
}


.icon-bars{
  width: 100%;
  font-size: 0;
  display: inline-block;
  background: #333;
}

.icon-bar>* i, .icon-bar>* img {
  display: block;
  margin: 0 auto;
}
.icon-bars > *{
  margin: 0 auto;
  display: block;
  padding: 1%;
  float: left;
}

.row{
  max-width: none;
}

.toxicitySlider{
  position: relative;
  top: -45px;
  border: solid 1px black;
  text-align: center;
  border-radius: 40px;
  padding: 10px;
}